.answer-option:hover {
background: #b100d7;
color: #000;
}

.answer-option {
    background: black;
    color: white;
    opacity: .8;
}

body {
    background-image: url('../images/oldmap2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.allContent {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.allContent * {
    margin-left: auto;
    margin-right: auto;
}

.kevHeader {
    color: rgb(175, 133, 56);
}